{% if page.carbonads %}
  {% if page.carbonads-sm-horizontal %}
    <div id="deancarbonads" class="sm-horizontal">
      <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Texxtonly -->
      <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-6753140515841889" data-ad-slot="3207852233"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>    </div>
  {% else %}
    <div id="deancarbonads">
      <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Texxtonly -->
      <ins class="adsbygoogle" style="display:inline-block;width:336px;height:280px" data-ad-client="ca-pub-6753140515841889" data-ad-slot="3207852233"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>    </div>
     </div>
  {% endif %}
{% endif %}
